<h2>Trending on HN</h2>

<!-- we have to inject enumerate manually -->
{% for idx, item in enumerate(posts,start=1) %}
    
    <div>
            <!-- Post -->
            Post {{ idx }}:
            <!-- Item -->
            {{ item.title }}

            <a href="{{ item.url }}">link</a>
        <br>
    </div>
{% endfor %}

<table>
    <thead>
      <tr>
        <th>Key</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
    {% for key, value in dict.items() %}
     <tr>
         <td> {{ key }} </td>
         <td> {{ value }} </td>
     </tr>
    {% endfor %}
    </tbody>
</table>



